@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.mainWrapperDealersPageFirst {
  display: flex;
  padding-left: $steping * 5;
  padding-right: $steping * 5;
  .mainWrapperDealersPageFirst {
    display: flex;
    flex-direction: column;
    .DealersPageFirstTitle {
      color: $gray-40;
      font-size: $fonts * 7.5;
      padding: $steping * 10 0;
    }
    .DealersPageFirstItems {
      display: flex;
      > div:not(:first-child) {
        margin-left: $steping * 10;
      }
    }
  }
}
