@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.rightContentWrapperItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  .rightContentWrapperItemTitle {
    color: $gray-40;
    padding: $steping * 10 0;
  }
}