@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.mainWrapperDealersPageWrapper {
  display: flex;
  width: 100%;
  background-color: $gray-10;
  max-width: calc(100vw - $left-menu);
  .w_60 {
    width: 60%;
  }
  .mainWrapperDealersPage {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    height: 100%;
  }

  .mainWrapperDealersDetailPage {
    display: flex;
    width: 40%;
    max-width: 519px;
    flex-direction: column;
    position: relative;
    transition: all 800ms ease-in;
    border-left: 1px solid $gray-40;
  }
}
