@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.tableRender {
  table {
    td {
      padding: $steping * 4 0;
    }
  }
  .activStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: $success;
      border-radius: 50%;
    }
    .text {
      margin-left: $steping * 4;
    }
  }
  .inactivStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: $gray-55;
      border-radius: 50%;
    }
    .text {
      margin-left: $steping * 4;
    }
  }
  .tableRowLight {
    background-color: $white;
  }
  .tableRowDark {
    background-color: $gray-10;
  }
  :global(.ant-table-column-title) {
    font-weight: 700;
    font-size: $fonts * 7.5;
  }
}
.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: $steping * 10;
}
