@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.mainWrapperAnalyticsPageWrapper {
  display: flex;
  position: relative;
  min-height: calc(100vh - $top-menu-list);
  overflow: hidden;
}

