@import "../../../styles/variables";
@import "../../../styles/mixins";

#inputTextField {
  &.inputFieldWithSecondBg {
    position: relative;
    padding: $steping * 8;
    border-radius: 4px;
    border-color: $gray-40;
    background-color: $white;
    // box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);

    &:focus {
      box-shadow: 0 0 0 2px $primary-tint-0;
    }
  }

  &.inputField {
    padding: $steping * 8;
    border-radius: 4px;
    border-color: transparent;
  }
}

:global(.ant-form-item-has-error) {
  #inputTextField.inputFieldWithSecondBg {
    border-width: 2px;
    box-shadow: none;
  }
}
