@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.mainWrapperAnalyticsPageFirst {
  display: flex;
  position: relative;
  overflow-x: auto;
  > div:not(div:first-child) {
    margin-left: $steping * 10;
  }
}
